*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
#root {
  width: 100%;
  height: 100vh;
  background-color: rgba(238, 245, 248, 255);
  font-family: 'Arial', sans-serif;
}

header img {
  width: 15%;
  height: auto;
  border-radius: 50%;
}

.mobile-nav {
  width: 100%;
  display: flex;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
}

.mobile-toggle {
  width: 15%;
}

nav button {
  border: none;
  height: 10vh;
  background-color: transparent;
  position: relative;
  left: 60%;
  top: 3%;
  font-size: 2em;
}

.mobile-toggle button {
  font-size: 3rem;
  width: 100%;
  background-color: #fe4a00;
  color: #fff;
  border: none;
  border-radius: 20%;
}

header .nav-menu {
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  justify-content: center;
  position: relative;
  bottom: 0%;
  top: -6rem;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}

header .nav-menu.visible {
  display: flex;
}

header ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}

header li {
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
}

header li a {
  font-family: 'Dear Dreamer', sans-serif;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  text-shadow: rgb(255, 255, 255) 2px 2px, rgb(255, 255, 255) -2px -2px, rgba(0, 0, 0, 0.3) 2px 2px 3px, rgba(0, 0, 0, 0.3) -2px -2px 3px;
}

.bookies-container {
  width: 97%;
  margin: 3% 1% 5% 1%;
}

footer ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer ul li {
  list-style: none;
}

.bookies-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.order-card a,
.table-container a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #fe4a00;
  position: relative;
  right: 45%;
}

.table-container a {
  right: 0;
}

.bookies-container ul li {
  background-color: #010001;
  width: 32%;
  border-radius: 5%;
  padding: 1%;
  list-style: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookies-container .big {
  width: 100%;
  margin-top: 2%;
}

.bookies-container ul li a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
}

.table-container {
  margin: 3% 1% 5% 1%;
}

.table-container h2,
.free-singles-container h2,
.bookies-container h2,
.note-container h2 {
  font-size: 0.8rem;
  margin-bottom: 1%;
}

.responsive-table {
  background-color: #141414;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.responsive-table th,
.responsive-table td {
  padding: 0.2rem;
  border: 1px solid #fff;
  font-size: 0.6rem;
  color: #fff;
}

.free-singles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.free-singles-container h2 {
  align-self: flex-start;
  margin-left: 1%;
}

.free-singles {
  background-color: #fff;
  border-radius: 2%;
  border: 1px solid rgb(173, 163, 163);
  width: 98%;
  margin-bottom: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.free-singles .h-h {
  width: 100%;
  border-radius: 3%;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  background-color: #fe4a00;
}

.free-teams {
  display: flex;
  gap: 1%;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.team img {
  width: 50%;
}

.league-tip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.datetime-result {
  display: flex;
  gap: 1%;
}

.datetime-result h3 {
  background-color: rgba(238, 245, 248, 255);
  width: 40%;
  padding: 1%;
  font-size: 1rem;
  border-radius: 7%;
}

.carousel-container {
  position: relative;
  width: 97%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide {
  width: 100%;
  height: 30vh;
}

.active {
  opacity: 1;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fe4a00;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

footer {
  width: 97%;
  height: 13vh;
  background-color: #000101;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 8%;
  padding: 0 5%;
  position: fixed;
  top: 85%;
  left: 0;
  right: 0;
}

footer ul li a i {
  color: #818081;
  font-size: 2rem;
}

.login-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  left: 5%;
  top: 40%;
  z-index: 9000;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.error-message {
  color: #f00;
  margin-top: 10px;
  border-radius: 5%;
  padding: 1%;
}

.success {
  color: #0c0;
  margin-top: 10px;
  border-radius: 5%;
  padding: 1%;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.note-container {
  width: 97%;
  margin: 0 auto;
}

.note,
.not-subscriber {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5%;
  padding: 2%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.not-subscriber {
  width: 97%;
  margin: 0 auto;
}

.note p,
.note button,
.not-subscriber p {
  font-size: 1.1rem;
}

.order-card {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border-radius: 5%;
  padding: 3%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 7rem;
}

.payment-options div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.payment-options div img,
.payment-options div img,
.payment-options div img {
  width: 50%;
  height: auto;
}

.payment-options div h3,
.payment-options div h3,
.payment-options div h3 {
  font-size: 0.8rem;
  text-align: center;
}

.admin-data {
  padding: 20px;
}

.admin-data table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-data th,
.admin-data td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.admin-data th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.admin-data tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-data tr:hover {
  background-color: #ddd;
}

.admin-data input[type="text"], select {
  width: 100%;
  padding: 5px;
}

.admin-data button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.admin-data button[type="button"] {
  background-color: #0c0;
  color: #fff;
  border: none;
}

.admin-data button[type="button"]:hover {
  background-color: rgb(76, 238, 76);
}

.admin-data #btn-bg-red {
  background-color: #f00;
}

.admin-data #btn-bg-red:hover {
  background-color: rgb(247, 49, 49);
}

.admin-data .add-data {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.admin-data .add-data h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.admin-data .add-data input[type="date"],
.admin-data .add-data input[type="time"],
.admin-data .add-data input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}



