*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
#root {
  width: 100%;
  height: 100vh;
  background-color: rgba(238,245,248,255);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.adverts-container img {
  width: 50%;
  height: auto;
}




